body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.faq-content {
    display: none;
    margin-top: 5px;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-left: 5px;
}